.logo {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1E3A8A;
  text-transform: none;
}

.i-letter {
  position: relative;
  display:inline-block
}

.i-dot {
  font-size: 3.7rem;
  font-weight:bold;
  color: #14B8A6;
  position:absolute;
  top:-2.35rem;
  left:-0.2rem;
}
